<link rel="stylesheet" href="../styles/components.css">

<nav class="navbar navbar-light navBarColor">
    <div class="container-fluid">

        <div id="pageName">
            <h1 class="text-center">Home</h1>
        </div>

        <span>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me- mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../aboutus.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../aboutus.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../main.html">About Us</a>
                </li>
            </ul>
        </div>
        </span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
</nav>