<link rel="stylesheet" href="/styles/components.css">

<nav id="navbar-container" class="nav nav-pills flex-row fixed-bottom">
    <div class="flex-fill 
    text-center 
    d-flex justify-content-around">
        <figure class="navIcons">
            <a class="LinkedIcon" href="main.html"><img src="./images/home-outline.svg" class="footerImg"></a>
            <figcaption>Home</figcaption>
        </figure>
    </div>
    <div class="flex-fill 
    text-center 
    d-flex justify-content-around">
        <figure class="navIcons">
            <a class="LinkedIcon" href="chats.html"><img src="./images/chat-outline.svg" class="footerImg"></a>
            <figcaption>Chat</figcaption>
        </figure>
    </div>
    <div class="flex-fill 
    text-center 
    d-flex justify-content-around">
        <figure class="navIcons">
            <a class="LinkedIcon" href="news.html"><img src="./images/newspaper.svg" class="footerImg"></a>
            <figcaption>News</figcaption>
        </figure>
    </div>
    <div class="flex-fill 
    text-center 
    d-flex justify-content-around">
        <figure class="navIcons">
            <a class="LinkedIcon" href="feedback.html"><img src="./images/vote.svg" class="footerImg"></a>
            <figcaption>Feedback</figcaption>
        </figure>
    </div>
</nav>




