<link rel="stylesheet" href="../styles/components.css">
<!-------------------------------------------------------->
<!--------------The sidebar goes here--------------------->
<!-------------------------------------------------------->
<div class="sideBar-user-info">
    <figure class="userImg-figure">
        <img id="userImg" src="">
    </figure>
    <span class="userName" id="username-goes-here"></span>
</div>
<ul class="sideBar-section-list">
    <li class="sideBar-section"><a href="editprofile.html">Edit Profile</a></li>
    <li class="sideBar-section"><a href="#">New Message</a></li>
    <li class="sideBar-section"><a href="#">My Activities</a></li>
    <li class="sideBar-section"><a href="#">Help</a></li>
    <li class="sideBar-section"><a href="#">About us</a></li>
</ul>
<div class="sideBar-logout">
    <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180 fa-2xl" id="logout"></i>
</div>