
<link rel="stylesheet" href="../styles/main.css">
<!-------------------------------------------------------->
<!--------------The sidebar goes here--------------------->
<!-------------------------------------------------------->
<div class="sideBar" id="sideBar">

    <div class="sideBar-close">
        <button class="close-sidebar" id="close-sidebar">
            <i class="fa-solid fa-arrow-left fa-2xl"></i>
        </button>
    </div>
    <div class="sideBar-user-info">
        <figure class="userImg">

        </figure>
        <span class="userName" id="username-goes-here"></span>
    </div>
    <ul class="sideBar-section-list">
        <li class="sideBar-section"><a href="#">Setting</a></li>
        <li class="sideBar-section"><a href="#">New Message</a></li>
        <li class="sideBar-section"><a href="#">My Activities</a></li>
        <li class="sideBar-section"><a href="#">Help</a></li>
        <li class="sideBar-section"><a href="#">About us</a></li>
    </ul>
    <div class="sideBar-logout">
        <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180 fa-2xl" id="logout"></i>
    </div>
</div>