@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
nav {
    background-color: lawngreen;
}
.navBarColor {
    background-color: lawngreen;
    font-family: 'Poppins', sans-serif;
    box-shadow: auto;
        -webkit-box-shadow: 0 -1px 5px #777777;
}

#footer {
    background-color: lawngreen;
    font-family: 'Poppins', sans-serif;
    box-shadow: auto;
        -webkit-box-shadow: 0 -1px 5px #777777;
}

#pageName {
    height: 100%;
    width: 80%;
    float: left;
    display: flex;
    align-items: center;
}

#pageName h1 {
    margin-left: 1em;
    margin-bottom: 0px;
    padding: 0px;
    color: white;
}

.footerNav {
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}

.footerImg {
    max-height: 70%;
    max-width: 70%;
}
.bar-contain {
    padding: 0px;
    margin: 0px;
}
.navIcons {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 70px;
}
figcaption {
    margin-inline: -20px;
    text-align: center;
    align-content: center;
    justify-content: center;
}