@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
/* General CSS */
* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}
/* End of General CSS */
/* Nav bar */
nav {
    background-color: #44CF6C;
}
#navbar-container {
    height: 75px;
    background-color: #44CF6C;
    font-family: 'Poppins', sans-serif;
    box-shadow: auto;
    -webkit-box-shadow: 0 -1px 5px #777777;
    border-radius: 0%;
    padding-top: 1vh;
}
@media screen and (max-height: 750px) {
    #navbar-container {
        height: 70px;
    }
}
#footer {
    background-color: #44CF6C;
    font-family: 'Poppins', sans-serif;
    box-shadow: auto;
        -webkit-box-shadow: 0 -1px 5px #777777;
        
}

#pageName {
    border-radius: 0%;
    height: 100%;
    width: 80%;
    float: left;
    display: flex;
    align-items: center;
}

#pageName h1 {
    margin-left: 1em;
    margin-bottom: 0px;
    padding: 0px;
    color: white;
}

.footerNav {
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}

.footerImg {
    max-height: 60%;
    max-width: 60%;
}
.bar-contain {
    padding: 0px;
    margin: 0px;
}
.navIcons {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 70px;
}
figcaption {
    margin-inline: -20px;
    text-align: center;
    align-content: center;
    justify-content: center;
    
}
/* End of Nav CSS */


/* Side Bar CSS*/
.open-sidebar {
    height: 95%;
    width: 20%;
    background-color: #44CF6C;
    border-style: none;
}

.sideBar {
    width: 60vw;
    left: 40vw;
    height: 100vh;
    position: absolute;
    background-color: #E5E4D7;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .50);
    font-family: 'Poppins', sans-serif;
    display: none;
    z-index: 9;
}
@media screen and (min-width: 900px) {
    .sideBar {  
        width: 40vw;
        left: 60vw;           
        }
}
.sideBar-close {
    height: 5%;
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-left: 1em;
}

.close-sidebar {
    background-color: #E5E4D7;
    border-style: none;
    font-size: 20px;
}
.close-sidebar:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.sideBar-user-info {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userImg {
    width: 40vw;
    height: 40vw;
    border-radius: 50px;
    background-color: white;
}

.sideBar-section-list {
    /* padding-top: 2em; */
    padding-left: 3em;
    height: 50%;
    list-style: none;
    line-height: 3em;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow:hidden;
}
/* Side bar animations */
.sideBar-section-list li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.sideBar-section-list a {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .50);
    background-color: rgba(0, 255, 0, 0.50);
    color: black;
}
.sideBar-logout:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
}

.userName {
    font-size: 20px;

}

a:link {
    color: black;
    text-decoration: none;
}

.userImg {
    margin: 0;
    width: 20vw;
    height: 40vw;
    border-radius: 50%;
    background-color: white;
}


.sideBar-logout {
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 3em;
    padding-top: 0px;
    overflow: hidden;
}

.userImg-figure {
    width: 152px;
    height: 182px;
    border-radius: 50%;
    overflow: hidden;
}

#userImg {
    width: 100%;
    height: 100%;
}

/* End of Side Bar CSS */