@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
* {
    font-family: 'Comfortaa', sans-serif;
}
#body {
    height: 84vh;
    display: flex;
    flex-direction: column;
}
.userPost {
    border-bottom-style: groove;
}

#comment {
    width: 100vw;
    height: 9vh;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;

}
#comment-form {
    width: 100%;
    background-color: #f0f0f0;
    padding: 12px;
    display: flex;
}
#comment-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
#comment-send {
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* CSS for the template*/
#comment-display {
    background-color: #cccccc;
}
.user-comment-container {
    margin-top: 5px;
    max-width: 100%;
    background-color: white;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.user-comment-inner-container {
    margin: 5% 5%;
    width: 90%;
    height: 90%;
}
.commenter-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-name {
    text-align: left;
}
.comment-text-container {
    margin: 5% 0;
}
.commenter-img-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.commenter-img {
    width: 100%;
    height: 100%;
}

