* {
    padding: 0;
    margin: 0;
}
#container {
    width: 100vw;
    height: 100vh;
    background-color: lawngreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-container {
    width: 60vw;
    height: 70vh;
    background-color: #cccccc;
    border-radius: 10px;
}
#imagePreviewContainer-out {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagePreviewContainer-inner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}
#imagePreview {
    height: 100%;
    width: 100%;
}
#profileForm {
    width: 100%;
    height: 60%;
}
#profileForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#profileForm *{
    border-radius: 15px;
    padding: 10px;
}
#profileForm *:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /* box-shadow: 0 0 5px rgb(0, 255, 0);
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005); */
}
#profilePhoto{
    margin-left: 70px;
}
#imagePreviewContainer-out:hover {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}