/* help.css */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
* {
    font-family: 'Comfortaa', sans-serif;
}
.help-page {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.help-section {
    margin-bottom: 20px;
}

h2 {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

/* Add any additional styling as needed */
