@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    border-radius: 15px;

}

html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-image:url(/images/5367739.jpg)
}
#photo {
    /* width: 100%; */
    height: 40%;
    border-radius: 0px;
    background-image: url("../images/people-circle-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#CGlue {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    align-items: center;
}
#CGlue p {
    margin: auto;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-family: 'Shadows Into Light', cursive;
    font-size: 5vw;
}
span {
    font-size: 7vw;
    letter-spacing: 0.5vw;
}
#hero {
    width: 100%;
    height: 509.8px;
    padding-top: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
}
#footerText {
    color: white;
    font-size: 3vw;

}
#buttontxt{
    color: white;
    background-color: #44CF6C;
}


