@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');


* {
    padding: 0px;
    margin: 0px;
    font-family: 'Comfortaa', sans-serif;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lawngreen;
}
#brandName {
    font-family: 'Archivo Black', sans-serif;
    color: chartreuse;
}

#header {
    border-radius: 0%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#Welcome {
    width: 100%;
}
#welcomeText {
    text-align: center;
    color: darkorange;
}
#signinBlock {
    width: 80vw;
    height: 50vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 -1px 15px #777777;
}

