@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#brandName {
    font-family: 'Archivo Black', sans-serif;
    color: chartreuse;
}

#header {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
#welcomeText {
    text-align: center;
}
#signinBlock {
    margin-top: 25vh;
}