@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
    /* border-radius: 15px; */

}

/* html {
    width: 100%;
    height: 100%;
} */
#body * {
    border-radius: 15px;

}

#container {
    width: 100vw;
    height: 91vh;
    overflow: hidden;
}

/* This part is css about the header section on main page */
#header {
    border-radius: 0;
    width: 100vw;
    height: 8vh;
    background-color: #44CF6C;
    color: white;
    font-family: 'Poppins', sans-serif;
    z-index: 8;
    box-shadow: auto;
    -webkit-box-shadow: 0 -1px 5px #777777;
}

#pageName {
    border-radius: 0%;
    height: 100%;
    width: 80%;
    float: left;
    display: flex;
    align-items: center;
}

#pageName h1 {
    margin-left: 1em;
}

.headerImg {
    max-height: 100%;
    max-width: 100%;
}
.fa-circle-info {
    margin-left: 1em;
}
.info-container {
    border-radius: 15px;
    width: 80vw;
    height: 30vh;
    background-color: white;
    position: absolute;
    left: 10vw;
    top: 35vh;
    box-shadow: 100000px 100000px 100000px 100000px rgba(0, 0, 0, .50);
    display: none;
}
.info-container p {
    margin: 2em;
    line-height: 4em;
}



/* This Part is css about the searchBox and post on main page */
#formandpost {
    width: 100vw;
    height: 6vh;
}

#searchBox {
    height: 100%;
    width: 60%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-sort {
    margin-top: 2px;
    height: calc(100% - 2px);
    width: 20%;
    float: left;
    border-style: none;
    background-color: white;
}

.searchBoxForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBoxForm>input {
    width: 90%;
    height: 70%;
    background-color: lightgray;
    color: white;
    background-image: url("../images/magnify.svg");
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 15px;
}

/*//////////////////////////////////////For Body and container of user post.*/
#body {
    width: 100vw;
    height: 77vh;
    overflow: scroll;
}

#posts-goes-here {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #D3D3D3;
}

/* ///////////////////////////////////////The End of section*/

/* //////////////////////////////////For user post template on home page///////////////////////////////*/
.postLinks {
    margin: 1vh 2vw;
    background-color: #FAFAFA;
    box-shadow: 1px 1px 5px 1px #777777;
}

.userPostContainer {
    width: 90%;
    margin: 5vw;
    display: flex;
    flex-direction: column;
}

.posterInfo {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.posterImg-goes-here {
    height: 100%;
    width: 60px;
    float: left;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;

}

.posterImg {
    width: 100%;
    height: 100%;
}

.posterName-goes-here {
    height: 100%;
    width: 20%;
    float: left;
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 1em;

}

.postTime-goes-here {
    height: 100%;
    width: 50%;
    float: right;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postText {
    width: 100%;
}

.postText-goes-here {
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: 0;
}

.postImg {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.postImg-goes-here {
    max-height: 400px;
    align-self: center;
    justify-content: center;
    overflow: hidden;
}

@media only screen and (max-width: 700px) {
    .postImg-goes-here {
        max-height: fit-content;
        width: 100%;
    }
}

.post-like-comment {
    margin: 2vh 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* //////////////////////////////////End of the section///////////////////////////////*/

/* This part is for the footer on main page */

#footer {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    background-color: #44CF6C;
    font-family: 'Poppins', sans-serif;

}

#postBox {
    height: 100%;
    width: 10%;
    float: left;
    text-align: center;
}

#footer {
    box-shadow: auto;
    -webkit-box-shadow: 0 -1px 5px #777777;
}

.footerNav {
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}

.footerImg {
    max-height: 70%;
    max-width: 70%;
}

/* This part is for the feedback main page */
#voteSwitch {
    width: 100%;
    height: 7%;
}

.voteSwitchBottom {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: outset;
}

/* This part is css for side bar*/



.userImg {
    margin: 0;
    width: 20vw;
    height: 40vw;
    border-radius: 50%;
    background-color: white;
}

.userImg-figure {
    width: 152px;
    height: 182px;
    border-radius: 50%;
    overflow: hidden;
}

#userImg {
    width: 100%;
    height: 100%;
}

.userName {
    font-size: 20px;

}

a {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

/* General CSS */
* {
    padding: 0;
    margin: 0;
}

/* End of General CSS */
/* Nav bar */
nav {
    background-color: #44CF6C;
}

.navBarColor {
    background-color: #44CF6C;
    font-family: 'Poppins', sans-serif;
    box-shadow: auto;
    -webkit-box-shadow: 0 -1px 5px #777777;
}

#footer {
    background-color: #44CF6C;
    font-family: 'Poppins', sans-serif;
    box-shadow: auto;
    -webkit-box-shadow: 0 -1px 5px #777777;
}

#pageName {
    border-radius: 0%;
    height: 100%;
    width: 80%;
    float: left;
    display: flex;
    align-items: center;
}

#pageName h1 {
    margin-left: 1em;
    margin-bottom: 0px;
    padding: 0px;
    color: white;
}

.footerNav {
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}

.footerImg {
    max-height: 60%;
    max-width: 60%;
}

.bar-contain {
    padding: 0px;
    margin: 0px;
}

.navIcons {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 70px;
}

figcaption {
    margin-inline: -20px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

#navbar-container {
    height: 8vh;
}

/* End of Nav CSS */


/* Side Bar CSS*/
.open-sidebar {
    height: 95%;
    width: 20%;
    background-color: #44CF6C;
    border-style: none;
}

.sideBar {
    width: 60vw;
    left: 40vw;
    height: 100vh;
    position: absolute;
    background-color: #E5E4D7;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, .50);
    font-family: 'Poppins', sans-serif;
    display: none;
    z-index: 9;
}

@media screen and (min-width: 900px) {
    .sideBar {
        width: 40vw;
        left: 60vw;
    }
}

.sideBar-close {
    height: 5%;
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-left: 1em;
}

.close-sidebar {
    background-color: #E5E4D7;
    border-style: none;
    font-size: 20px;
}

.close-sidebar:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.sideBar-user-info {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userImg {
    width: 40vw;
    height: 40vw;
    border-radius: 50px;
    background-color: white;
}

.sideBar-section-list {
    /* padding-top: 2em; */
    padding-left: 3em;
    height: 45%;
    list-style: none;
    line-height: 3em;
    font-size: 20px;

}

/* Side bar animations */
.sideBar-section-list li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.sideBar-section-list a {
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .50);
    background-color: rgba(0, 255, 0, 0.50);
    color: black;
}

.sideBar-logout:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.userImg {
    width: 40vw;
    height: 40vw;
}

.userName {
    font-size: 20px;

}

a:link {
    color: black;
    text-decoration: none;
}

.userImg {
    margin: 0;
    width: 20vw;
    height: 40vw;
    border-radius: 50%;
    background-color: white;
}


.sideBar-logout {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    padding-left: 3em;
    padding-top: 20px;
}

.userImg-figure {
    width: 152px;
    height: 182px;
    border-radius: 50%;
    overflow: hidden;
}

#userImg {
    width: 100%;
    height: 100%;
}

/* End of Side Bar CSS */