* {
    padding: 0;
    margin: 0;
}
#container {
    width: 100vw;
    height: 100vh;
    background-color: #CFFFB3;
    overflow: hidden;
}
#map {
    width: 100vw;
    height: 80vh;
    background-color: #cccccc;
}
#map-container {
    width: 96vw;
    margin: 2vh 2vw;
    overflow: scroll;
    border-radius: 10px;
    box-shadow: -1px -1px 6px 6px #777777;
}