@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
}
/* html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
} */
#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 8vh 6vh 78vh;
    overflow: hidden;
}
/* This part is css about the header section on main page */
#header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: lawngreen;
    color: white;
    font-family: 'Poppins', sans-serif;
}
#pageName {
    height: 100%;
    width: 80%;
    float: left;
    display: flex;
    align-items: center;
}
#pageName h1 {
    margin-left: 1em;
}
.headerImg {
    max-height: 100%;
    max-width: 100%;
}


/* This Part is css about the searchBox and post on main page */
#formandpost {
    grid-column: 1 / span 1 ;
    grid-row: 2 / span 1;
    box-shadow: auto;
    -webkit-box-shadow: 0 -1px 5px #777777;
}

#searchBox {
    height: 100%;
    width: 60%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post-sort {
    height: 100%;
    width: 20%;
    float: left;
    border-style: none;
    background-color: white;
}
.searchBoxForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchBoxForm > input {
    width: 90%;
    height: 70%;
    background-color: lightgray;
    color: white;
    background-image: url("../images/magnify.svg");
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 15px;
}
    /* This part is for the main content part on main page*/
#body {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    overflow: scroll;
    display: grid;
    grid-template-columns: 300px auto;
}
.userPost {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    box-shadow: 0 -1px 5px #777777;
    padding-left: 10px;
}

    /* This part is for the footer on main page */

#footer {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    background-color: lawngreen;
    font-family: 'Poppins', sans-serif;

}
#postBox {
    height: 100%;
    width: 10%;
    float: left;
    text-align: center;
}
#footer {
    box-shadow: auto;
    -webkit-box-shadow: 0 -1px 5px #777777;
}
.footerNav {
    height: 100%;
    width: 25%;
    float: left;
    text-align: center;
}

.footerImg {
    max-height: 70%;
    max-width: 70%;
}

/* This part is for the feedback main page */
#voteSwitch {
    width: 100%;
    height: 7%;
}
.voteSwitchBottom {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: outset;
}
/* This part is css for side bar*/
.open-sidebar {
    height: 100%;
    width: 20%;
    background-color: lawngreen;
    border-style: none;
}
.sideBar {
    width: 60vw;
    height: 100vh;
    position: absolute;
    left: 40vw;
    background-color: #E5E4D7;
    box-shadow: 0 0 0 100000px rgba(0,0,0,.50);
    font-family: 'Poppins', sans-serif;
    display: none;
}

.sideBar-close {
    height: 5%;
    display: flex;
    align-items: center;
    margin-left: 0.5em ;
}
.close-sidebar {
    background-color: #E5E4D7;
    border-style: none;
    font-size: 20px;
}

.sideBar-user-info {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userImg {
    width: 40vw;
    height: 40vw;
    border-radius: 50px;
    background-color: white;
}
.sideBar-section-list {
    padding-top: 2em;
    height: 70%;
    list-style: none;
    line-height: 3em;
    font-size: 20px;
}

.userImg {
    width: 40vw;
    height: 40vw;
}
.userName {
    font-size: 20px;

}
a:link{
    color: black;
    text-decoration: none;
}

