@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', sans-serif;
}
#container {
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    margin-left: 10vw;
    margin-right: 10vw;
    border-style: none;
}
#header {
    border-radius: 0%;
    width: 98%;
    height: 10%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;

}
#textFile {
    width: 100%;
    height: 40%;
    float: left;
}
form {
    width: 98%;
    height: 100%;
    padding-top: 2em;
    padding-left: 1%;
    padding-right: 1%;
}
textarea {
    border-style: none;
    width: 100%;
    height: 70%;
}
#addPhoto {
    width: 100%;
    height: 30%;
    float: left;
}
.post-button {
    background-color: lawngreen;
    font-size: 18pt;
    padding: 0.2em 0.4em;
    border-radius: 20px;
    border: lawngreen;
    box-shadow:  0 -1px 5px #777777;
    font-family: 'Poppins', sans-serif;
}

/* CSS for the confirm message */
.post-thankyou {
   /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
    justify-content: center; /* Center the inner content horizontally */
    align-items: center; /* Center the inner content vertically */
    display: none; /* Enables the justification and alignment */
}

.post-thankyou h2 {
    height: 200px;
    width: 400px;
    margin: auto; /* Center the text block */
    background: lawngreen; /* Your color for the text block */
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the text block */
    color: white; /* Text color */
    display: flex;
    justify-content: center;
    align-items: center;
}